.booking {
  background-image: url('../img/content/booking-background-desktop.jpg');
  height: 555px;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $color-blue-background;

  @media (max-width: $vp-1023) {
    background-image: url('../img/content/booking-background-tablet.jpg');
    height: 805px;
  }

  @media (max-width: $vp-767) {
    background-image: url('../img/content/booking-background-mobile.jpg');
    height: 760px;
  }
}

.booking__container {
  display: flex;
  padding: 0 163px;
  justify-content: space-between;

  @media (max-width: $vp-1023) {
    display: block;
    text-align: center;
    padding: 88px 174px 100px;
  }

  @media (max-width: $vp-767) {
    padding: 54px 15px 60px;

  }
}


.booking__info {
  color: $color-tangora;
  margin-top: 213px;

  @media (max-width: $vp-1023) {
    margin-top: 0;
  }
}

.booking__header {
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  margin: 0;
  margin-bottom: 8px;

  @media (max-width: $vp-1023) {
    margin-bottom: 5px;
    font-size: 34px;
    line-height: 51px;
  }

  @media (max-width: $vp-767) {
    font-size: 24px;
    line-height: 31px;
    margin-bottom: 19px;
  }
}

.booking__description {
  margin: 0;
  line-height: 27px;
  font-weight: 400;
  color: $color-tangora;

  @media (min-width: $vp-1366) {
    width: 352px;
  }

  @media (max-width: $vp-767) {
    font-size: 16px;
    line-height: 22px;
    padding: 0 16px;
  }
}

.booking__description-space {
  display: none;
  @media (max-width: $vp-1365) {

  }
}

.booking__form {
  margin-top: 50px;

  @media (max-width: $vp-1023) {
    margin: 53px auto 0;
  }

  @media (max-width: $vp-767) {
    margin-top: 34px;
  }
}

