.page-header {
  background-image: url('../img/content/main-intro-background.jpg');
  background-repeat: no-repeat;
  height: 650px;
  color: $color-alice-blue;
  background-size: cover;
  background-color: $color-prussian-blue;

  @media (max-width: $vp-1365) {
    background-image: url('../img/content/main-intro-background-tablet.jpg');
    height: 638px;
  }

  @media (max-width: $vp-767) {
    background-image: url('../img/content/main-intro-background-mobile.jpg');
    height: 500px;
  }
}

.page-header__container {
  @media (max-width: $vp-767) {
    padding-right: 0;
  }
}

.page-header__intro {
  margin-left: 95px;

  @media (max-width: $vp-1365) {
    margin-left: 0;
  }

  @media (max-width: $vp-767) {
    text-align: left;
  }
}

.page-header__header {
  font-weight: 700;
  font-size: 54px;
  line-height: 66px;
  margin: 0;

  .page-header__header-space {
    display: none;
  }

  @media (max-width: $vp-1365) {
    font-size: 50px;
    line-height: 61px;
  }

  @media (max-width: $vp-767) {
    font-size: 36px;
    line-height: 45px;

    .page-header__header-space {
      display: block;
    }
  }
}

.page-header__description {
  margin: 0;
  margin-top: 13px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;

  @media (max-width: $vp-1365) {
    margin-top: 12px;
    font-size: 18px;
    line-height: 22px;
  }

  @media (max-width: $vp-767) {
    font-size: 16px;
    line-height: 22px;
    padding-right: 76px;
  }
}
