.social__list {
  display: flex;
  width: 117px;
  height: 100%;
  align-items: center;
  margin: 0;
  justify-content: space-between;

  @media (max-width: $vp-1365) {
    width: 87px;
  }

  @media (max-width: $vp-767) {
    width: max-content;
    grid-gap: 23px;
  }
}

.social__item {
  display: block;
  background-repeat: no-repeat;
  background-size: contain;

  &:focus,
  &:hover {
    border-bottom: 1px solid $color-alice-blue;
    padding-bottom: 5px;
  }
}

.social__item--twi {
  width: 20px;
  height: 16px;
  background-image: url('../img/svg/icon-twi.svg');

  @media (max-width: $vp-1023) {
    width: 16px;
    height: 13px;
  }
}

.social__item--insta {
  width: 20px;
  height: 20px;
  background-image: url('../img/svg/icon-insta.svg');

  @media (max-width: $vp-1023) {
    width: 16px;
    height: 16px;
  }
}


.social__item--meta {
  width: 11px;
  height: 20px;
  background-image: url('../img/svg/icon-facebook.svg');

  @media (max-width: $vp-1023) {
    width: 9px;
    height: 16px;
  }
}
