// Colors
// ---------------------------------

// Default

$color-default-black:               #000000;
$color-default-white:               #ffffff;
$color-transparent:                 rgba(255, 255, 255, 0);

// Project palette
// для нейминга цветов используем https://www.htmlcsscolor.com/hex/334482

$color-neon-blue:                   #2c39f2;
$color-torch-red:                   #ff1553;
$color-alice-blue:                  #F9FBFD;
$color-tangora:                     #011C40;
$color-prussian-blue:               #003571;
$color-quartz:                      #D8D8D9;
$color-text-gray:                   rgba(1, 28, 64, 0.7);
$color-good-green:                  #00FF00;
$color-blue-background:             #89A5F9;
$color-nav-background:              rgba(0, 43, 102, 0.5);
$color-cruise-shadow:               rgba(1, 28, 64, 0.15);
$color-overlay:                     rgba(0, 43, 102, 0.5);
$color-green-sucsess:               #4BB543;

// Gradient

$black-to-right:                    linear-gradient(90deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 75%);

$vp-320:                            320px;
$vp-767:                            767px;
$vp-768:                            768px;
$vp-1023:                           1023px;
$vp-1024:                           1024px;
$vp-1160:                           1160px;
$vp-1159:                           1159px;
$vp-1366:                           1366px;
$vp-1365:                           1365px;
